################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Torneios/FileContentIndex/6c6a80a4-5996-4453-8e1e-8e370eac9b00.vsidx
