################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Data/bin/Debug/net6.0
/Data/obj/Debug/net6.0/ref
/Data/obj/Debug/net6.0/refint
/Domain/bin/Debug/net6.0
/Domain/obj/Debug/net6.0
/Torneios/bin/Debug/net6.0/runtimes
/Data/obj/Debug/net6.0
/Torneios/bin/Debug/net6.0
/Torneios/obj/Debug/net6.0
